body {
  background-color: grey;
  text-align: center;
}
.welcome {
  text-align: center;
  margin-top: 5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  color: aquamarine;
}

.info {
  margin-top: 5%;
  color:aquamarine;
}
